:root {
  --primary: black;
  --bg: #ffddcc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: black;
}

footer .socials a {
  color: black;
  margin: 1rem;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #ffeecc;
  border-bottom: 1px solid #febbcc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-nav a {
  color: black;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
}

/* Top */
.top {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.content .top {
  padding: 1.4rem 7%;
  max-width: 60rem;
  line-height: 1;
}

.content .top h1 {
  font-size: 8em;
}

.content .top p {
  font-size: 1.3rem;
  margin-left: 0.5rem;
}
/*  Section about */
.about {
  padding: 7rem 7% 1.4rem;
}

.about h2 {
  text-align: center;
  font-size: 2.7rem;
  margin-bottom: 1rem;
}

.about .row .about-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .row .about-img img {
  width: 25rem;
  height: 25rem;
}

.about .row .content {
  text-align: center;
  font-size: 1.5rem;
}

.about .row .content h3 {
  font-weight: normal;
  font-size: 1.5rem;
}

.about .row .content p {
  font-size: 1.3rem;
}

.about-img img {
  background-color: #ffeecc;
  border: 2px solid #f1b4bb;
  border-radius: 20px;
}

/* Section Menu Skill */

.menu-skill {
  padding: 7rem 7% 1.4rem;
}

.menu-skill h2 {
  text-align: center;
  font-size: 2.7rem;
  margin-bottom: 0.1rem;
}

.menu-skill p {
  margin-left: 0px;
  text-align: center;
  font-size: 1.3rem;
  max-width: 70rem;
  margin: auto;
}
/* Aside Menu */
.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
  margin-bottom: 10rem;
  justify-content: center;
}

.menu .row .skill-card {
  text-align: center;
  width: 25%;
}
.skill-card img {
  width: 8.5rem;
}

.menu .row .skill-card .skill-card-title {
  margin-top: 0.5rem;
}
/* Footer */
footer {
  background-color: #ffeecc;
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: black;
  margin: 1rem;
}

footer .links a {
  color: black;
  margin: 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

html {
  scroll-behavior: smooth;
}

/* Media Queris*/

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

/* Handphone*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .menu .row {
    flex-direction: column;
    align-items: center;
  }

  .extra {
    justify-content: center;
  }
}
